$border-style: .1px solid rgba(188, 188, 188, 0.237) 
$padding-top-bottom: 5px
$width-aside-full: 250px
$width-aside-low: 80px
  
@mixin fila($justify, $gap, $padding)
  display: flex
  flex-direction: row
  justify-content: $justify
  align-items: center
  gap: $gap
  padding: $padding

@mixin grid
  display: grid
  grid-template-columns: repeat(3, 1fr)
  justify-content: center
  align-items: center

@mixin movil() 
  @media screen and (min-width: 320px)
    @content

@mixin tables()
  @media screen and (min-width: 768px)
    @content

@mixin desktop()
  @media screen and (min-width: 992px)
    @content

@mixin desktop-big()
  @media screen and (min-width: 1200px)
    @content


*
  padding: 0
  margin: 0
  text-decoration: none
  color: white
  font-family: "Nunito", sans-serif

body
  background: black

h1
  font-weight: 600
  font-size: 13px

p, a
  color: white
  font-size: 10px

button
  background: none
  border: none

.main-body
  display: flex
  position: fixed
  overflow: hidden
  width: 100%


.icon
  color: white
  font-size: 26px
