@import './components/_general.sass'
@import './components/_bottom-nav'


a::hover
  cursor: pointer

aside nav 
  display: flex
  flex-direction: column
  gap: 30px
  border-right: 1px solid $border-style

.aside-section
  displey: flex
  flex-direction: column
  gap: 20px

.aside-item
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  gap: 30px


 


